.data-protection-section
    width: 100%
    background: linear-gradient(179.99deg, #ffffff 12.89%, #eaf0ff 91.39%)
    .inside-container
        max-width: 100%
        padding-bottom: 32px
        .content
            max-width: 100%
            margin-top: 2%
            box-sizing: border-box
            padding: 0 6.94% 0 6.94%


.special-header
    width: 100% !important
          
