.header
    background-color: rgb(4,3,3)
    display: flex
    justify-content: space-between
    align-items: center
    min-height: 8vh

    .left
        padding-left: 3.5%
        // .image-container
        //     width: 150px
        //     height: 6vh
        img
            width: 180px
            height: 8vh

        .navigation-menu

            ul
                list-style-type: none

            li
                margin: 0px 7px 0

            a
                color: white
                text-decoration: none
                &:hover
                    cursor: pointer

    .right
        display: flex
        padding-right: 3%

        .search-icon-container
            margin-right: 20px
            .search-icon
                height: 30px
                width: 30px

        .notification-icon-container
            display: flex
            margin: 0 20px 0
            .notification-icon
                height: 30px
                width: 30px

        .profile-img-container
            height: 50px
            width: 50px
            margin-left: 20px
            border-radius: 8px
            .profile-img
                height: 50px
                width: 50px

.open-input
    display: block !important

@import "src/assets/sass/width-responsive-600.sass"
@import "src/assets/sass/width-responsive-smartphone-landscape.sass"
