<!-- Auf Home erst Info zu email bestätigen anzeigen wenn nach register noch nicht passiert ist -->
<app-register-successfully *ngIf="isRegistered"></app-register-successfully>
<app-header></app-header>
<app-header-notification-container id="notificationID" class="hide"></app-header-notification-container>
<app-header-profile-settings-container id="profilesettingsID" class="hide"></app-header-profile-settings-container>
<app-main></app-main>
<app-categories></app-categories>
<app-footer></app-footer>