.categories-section
    background-color: rgb(4,3,3)
    display: flex
    flex-direction: column
    padding-left: 3.5%
    overflow-x: hidden
    max-width: 100%
    .categories-row
        margin-top: 20px
        .category-text
            margin-top: 20px
            margin-bottom: 20px
            color: white
            font-size: 24px

        .different-categories
            display: flex
            position: relative
            margin-top: 5px
            .a
                display: flex
                overflow-x: scroll
                .b
                    .movie-img
                        margin-left: 10px
                        margin-right: 10px
                        height: 180px
                        min-width: 20vw
                        &:hover
                            cursor: pointer

            .left-side-hover-container
                position: absolute
                left: 0
                top: 0
                height: 180px
                width: 50px
                // width: 3.5vw
                // background-color: rgb(18,22,24)
                .arrow-left-img
                    height: 40px
                    width: 40px

            .right-side-hover-container
                position: absolute
                right: 0
                top: 0
                height: 180px
                width: 50px
                // width: 3.5vw
                // background-color: rgb(18,22,24)
                .arrow-right-img
                    height: 40px
                    width: 40px

// .move-left
//     transform: translateX(-40%)

// .move-right
//     transform: translateX(40%)
