.categories-section
    background-color: rgb(4,3,3)
    display: flex
    flex-direction: column
    padding-left: 3.5%
    overflow-x: hidden
    max-width: 100%
    .categories-row
        margin-top: 20px
        .category-text
            margin-top: 20px
            margin-bottom: 20px
            color: white
            font-size: 24px

        .different-categories
            display: flex
            position: relative
            margin-top: 5px
            .a
                display: flex
                overflow-x: scroll
                .element
                    margin-left: 10px
                    margin-right: 10px
                    height: 25vh
                    width: 21vw
                    .inside-element
                        height: 100%
                        width: 100%
                        position: relative
                        overflow: visible
                        // .f
                        //     height: 100%
                        //     width: 100%
                        .hover-container
                            position: absolute
                            bottom: 0
                            //inset: 0
                            z-index: 3
                            background-color: #141414
                            color: white
                            //padding: 10px
                            border-radius: 5px
                            height: calc( 100% + 50px )
                            width: 100%
                            font-size: 1.2rem
                            scale: (1.8)
                            .view-movie
                                height: 60%
                                width: 100%
                                video
                                    height: 100%
                                    width: 100%

                            .action-bottons
                                height: 40%
                                width: 100%
                                .left-side
                                    img
                                        width: 50px
                                        height: 50px
                                .right-side
                                    img
                                        width: 50px
                                        height: 50px
                                    &:hover
                                        cursor: pointer

            .left-side-hover-container
                position: absolute
                left: 0
                top: 0
                height: 25vh
                width: 50px
                z-index: 4
                // width: 3.5vw
                // background-color: rgb(18,22,24)
                .arrow-left-img
                    height: 40px
                    width: 40px

            .right-side-hover-container
                position: absolute
                right: 0
                top: 0
                height: 25vh
                width: 50px
                z-index: 4
                // width: 3.5vw
                // background-color: rgb(18,22,24)
                .arrow-right-img
                    height: 40px
                    width: 40px

// .move-left
//     transform: translateX(-40%)

// .move-right
//     transform: translateX(40%)

.movie-img
    height: 100%
    width: 100%
