.mylist-page
    min-height: 92vh
    width: 100%
    background-color: #141414
    padding: 2% 3.5% 0 3%
    box-sizing: border-box

    h2
        color: white
        margin-bottom: 30px

    .mylist-results
        width: 100%
        display: flex
        flex-wrap: wrap
        //justify-content: space-between
        .inside-mylist-results
            width: 18%
            box-sizing: border-box
            margin-bottom: 2%
            margin-right: 2%
            img
                width: 100%
                height: auto
                min-height: 270px

    .mylist-empty
        padding: 2% 3.5% 0 3.5%
        box-sizing: border-box
        .inside-mylist-empty
            border: 2px solid white
            border-radius: 8px
            min-width: 350px
            min-height: 270px
            max-width: 22%
            max-height: 20vh
            padding: 2% 6px 0 6px
            box-sizing: border-box
            p
                color: white
                font-size: 18px
            img
                width: 40px
                height: 40px
                &:hover
                    cursor: pointer

.inside-further-informations
    border: 1px solid #687282
    .play-button-position
        display: flex
        position: absolute
        top: 62%
        right: 5%
        height: 32px
        width: 32px
        object-fit: cover
        img
            height: 38px
            width: 38px
            // margin-left: 4px
            // margin-right: 4px
        &:hover
            cursor: pointer

    .show-movie-position
        position: absolute
        top: 0
        left: 0
        z-index: 7
        video
            width: 100%
            min-height: 70%
            object-fit: cover
            border-top-right-radius: 12px
            border-top-left-radius: 12px

@import "src/assets/sass/width-responsive-600.sass"
@import "src/assets/sass/width-responsive-smartphone-landscape.sass"

