<app-header></app-header>
<app-header-notification-container id="notificationID" class="hide"></app-header-notification-container>
<app-header-profile-settings-container id="profilesettingsID" class="hide"></app-header-profile-settings-container>
<div class="search-categories">
    <div class="search-categories-header">
        <h1>Nach Kategorien durchsuchen</h1>
        <div class="choose-category">
            <p>Kategorie auswählen</p>
            <select name="Derzeit beliebt">
                <option value="Derzeit beliebt">Derzeit beliebt</option>
                <option value="Meine Liste">Meine Liste</option>
                <option value="Natur">Natur</option>
            </select>
            <p class="ml-10">Sortieren nach</p>
            <select name="Erscheinungsdatum"> 
                <option value="Erscheinungsdatum">Erscheinungsdatum</option>
                <option value="A-Z">A-Z</option>
                <option value="Z-A">Z-A</option>
            </select>
        </div>
    </div>
    
    <div *ngIf="results" class="search-results">
        <img src="/assets/img/first-page-background.png">
    </div>
</div>