<div class="account-informations-container"> 
    
    <div class="account-informations">
        <div class="user-login-datas scrollbar-move-responsive">
            <div class="data-container">
                <p>User Email</p>
                <p class="value">{{ currentUserResponse.email }}</p>
            </div>
            <div class="data-container">
                <p>Username</p>
                <p class="value">{{ currentUserResponse.username }}</p>
            </div>
            <div class="data-container">
                <p>Passwort</p>
                <p id="password" class="value">
                    guest_password{{ currentUserResponse.username }}
                </p>
            </div>
        </div>
        <div class="first-and-last-name scrollbar-move-responsive">
            <div class="data-container">
                <p>Vorname</p>
                <p id="firstname" class="value">{{ currentUserResponse.first_name }}</p>
            </div>
            <div class="data-container">
                <p>Nachname</p>
                <p id="lastname" class="value">{{ currentUserResponse.last_name }}</p>
            </div>
        </div>
        <div  class="user-status">
            <div class="user-status-container">
                <p>User Status</p>
                <div class="test">
                    <div class="a">
                        <p>Is_active</p> 
                        <div class="show-checkbox">
                            <img (click)="showUserStatusInfo('show Active Information')" src="/assets/img/checkbox-white.png">
                        </div>
                    </div>
                    
                    <div class="a">
                        <p>Is_Staff</p>
                        <div class="show-checkbox" >
                            <img (click)="showUserStatusInfo('show Is_Staff Information')" src="/assets/img/checkbox.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

