<div class="profile-settings-container" appHover [class.show]="hoverService.showProfilesettingsContainer">
    <div appHover [class.show]="hoverService.showProfilesettingsContainer" class="inside-container center-with-column">

        <div class="pro-box center">
            <img class="cursor-pointer" src="assets/img/profile-icon.png">
        </div>
        <div routerLink="/account" class="konto-box center cursor-pointer">
            <p>Konto</p>
        </div>
        <div routerLink="/FAQ" class="help-box center cursor-pointer">
            <p>Hilfe-Center</p>
        </div>
        <div (click)="logout()" class="logout-box center cursor-pointer">
            <p>Aus Movieflix ausloggen</p>
        </div>

    </div>
</div>