<div class="imprint-section">
    <div class="special-header">
        <img (click)="this.generalFunctionsService.backToHome()" src="/assets/img/movieflix.PNG">
        <p class="hide-smartphone">Impressum</p>
    </div>
    <div class="inside-container">
        <h1><b>Impressum</b></h1><br>
        <p>Stefan H&uuml;bner<br /> 84535 Erding</p><br> <!-- Zirbelstra&szlig;e 3<br /> -->
        <h2>Kontakt</h2>
        <p>Telefon: 0176-20180143<br>E-Mail: Stefan.huebner97@web.de</p><br> 
        <div>
        </div>
        <h3>Quellen:</h3><br>
        <div class="quellen">
            <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
            <a href="https://www.icons8.com">https://www.icons8.com</a>
            <a href="https://pixabay.com">https://pixabay.com</a>
            <a href="https://logomakr.com">https://logomakr.com</a>
            <a href="https://www.kittl.com">https://www.kittl.com</a>
        </div>
        <button class="primary-button" routerLink="/data-protection">Data protection</button>
    </div>
</div>