<div class="faq-container">
    <div class="special-header">
        <span>MovieFlix</span>
        <p>FAQ</p>
    </div>
    <div class="inside-container">
        <img class="special-icon" routerLink="/home" src="/assets/img/webIcon.png">
        <h1>FAQ</h1>

        <p class="faq-headline">Häufig gestellte Fragen (FAQ) für meine Videoplattform</p>

        <p class="mt-35">1. Wie kann ich mich auf der Plattform registrieren?</p>

        <span>Um sich auf meiner Videoplattform zu registrieren, gehen Sie bitte zur Login Seite und klicken Sie auf
            "Jetzt registrieren". Folgen Sie den Anweisungen und füllen Sie das Registrierungsformular aus. Nachdem Sie
            Ihre
            E-Mail-Adresse bestätigt haben, sind Sie bereit, sich anzumelden und meine Plattform zu nutzen.</span>

        <p>2. Wie lade ich ein Video hoch?</p>

        <span>Das Hochladen eines Videos ist nur als Staff Nutzer möglich. Falls Interesse besteht kann ein Anfrage an
            mich gesendet werden!
            Klicken Sie auf das Feld Konto und suchen Sie nach der Schaltfläche "Video hochladen". Klicken Sie darauf
            und wählen Sie die Videodatei von Ihrem Computer aus. Geben
            Sie anschließend alle erforderlichen Informationen wie Titel, Beschreibung und Kategorie an und starten Sie
            den
            Upload. Bitte beachten Sie, dass es je nach Größe des Videos eine Weile dauern kann.</span>

        <p>3. Welche Dateiformate werden unterstützt?</p>

        <span>Meine Plattform unterstützt das MP4-Format weil es weit verbreitet ist und eine gute Balance zwischen
            Qualität
            und Dateigröße bietet.</span>

        <p>4. Ich habe Probleme beim Abspielen von Videos. Was kann ich tun?</p>

        <span>Wenn Sie Probleme beim Abspielen von Videos haben, stellen Sie sicher, dass Sie über eine stabile
            Internetverbindung verfügen. Aktualisieren Sie Ihren Webbrowser auf die neueste Version.</span>

        <p>5.Wie finde ich Videos?</p>

        <span>Im header befindet sich eine Lupe, klicken Sie auf diese dann öffnet sich ein Input Feld mit einer
            Auswahl.</span>
    </div>
</div>