<div class="faq-container">
    <div class="special-header">
        <span>MovieFlix</span>
    </div>
    <div class="inside-container">
        <img class="special-icon" routerLink="/home" src="/assets/img/webIcon.png">
        <h1>FAQ</h1>
        <p>Wie finde ich Videos?</p>
        Häufig gestellte Fragen (FAQ) für unsere Videoplattform

        1. Wie kann ich mich auf der Plattform registrieren?
        Um sich auf unserer Videoplattform zu registrieren, gehen Sie bitte zur Startseite und klicken Sie auf
        "Registrieren". Folgen Sie den Anweisungen und füllen Sie das Registrierungsformular aus. Nachdem Sie Ihre
        E-Mail-Adresse bestätigt haben, sind Sie bereit, sich anzumelden und unsere Plattform zu nutzen.

        2. Wie lade ich ein Video hoch?
        Das Hochladen eines Videos ist ganz einfach. Melden Sie sich in Ihrem Konto an und suchen Sie nach der
        Schaltfläche "Video hochladen". Klicken Sie darauf und wählen Sie die Videodatei von Ihrem Computer aus. Geben
        Sie anschließend alle erforderlichen Informationen wie Titel, Beschreibung und Kategorie an und starten Sie den
        Upload. Bitte beachten Sie, dass es je nach Größe des Videos eine Weile dauern kann.

        3. Welche Dateiformate werden unterstützt?
        Unsere Plattform unterstützt eine Vielzahl von Videoformaten, darunter MP4, AVI, MOV, WMV und viele mehr. Wir
        empfehlen Ihnen, das MP4-Format zu verwenden, da es weit verbreitet ist und eine gute Balance zwischen Qualität
        und Dateigröße bietet.

        4. Wie kann ich mein Video bearbeiten oder löschen?
        Um ein Video zu bearbeiten oder zu löschen, gehen Sie zu Ihrem Konto und suchen Sie die Liste Ihrer
        hochgeladenen Videos. Neben jedem Video finden Sie Optionen zum Bearbeiten oder Löschen. Klicken Sie auf die
        entsprechende Option und folgen Sie den Anweisungen, um Änderungen vorzunehmen oder das Video zu entfernen.

        5. Kann ich meine Videos privat halten?
        Ja, Sie können Ihre Videos privat halten. Während des Uploads oder der Bearbeitung eines Videos haben Sie die
        Möglichkeit, die Datenschutzeinstellungen festzulegen. Sie können auswählen, ob Ihr Video öffentlich, privat
        oder nur für bestimmte Benutzer sichtbar sein soll. Bei der privaten Einstellung müssen Sie die E-Mail-Adressen
        oder Benutzernamen der Personen angeben, mit denen Sie das Video teilen möchten.

        6. Kann ich Videos anderer Benutzer herunterladen?
        Das Herunterladen von Videos anderer Benutzer ist normalerweise nicht erlaubt, es sei denn, der Videoersteller
        hat explizit eine Download-Option aktiviert. Respektieren Sie bitte das Urheberrecht und die Privatsphäre
        anderer Benutzer und nutzen Sie die heruntergeladenen Videos nur für persönliche Zwecke.

        7. Wie kann ich mit anderen Benutzern interagieren?
        Unsere Plattform bietet verschiedene Möglichkeiten zur Interaktion mit anderen Benutzern. Sie können Kommentare
        zu Videos hinterlassen, Likes vergeben, Kanäle abonnieren und private Nachrichten senden. Achten Sie jedoch
        darauf, respektvoll und freundlich zu bleiben und die Community-Richtlinien einzuhalten.

        8. Ich habe Probleme beim Abspielen von Videos. Was kann ich tun?
        Wenn Sie Probleme beim Abspielen von Videos haben, stellen Sie sicher, dass Sie über eine stabile
        Internetverbindung verfügen. Aktualisieren Sie Ihren Webbrowser auf die neueste Version und überprüfen Sie, ob
        Sie die erforderlichen Videocodecs installiert haben. Falls das Problem weiterhin besteht, kontaktieren Sie
        bitte unseren Kundensupport für weitere Unterstützung.
    </div>
</div>