<div class="first-page-container">
    <div class="first-page-header space-evenly">
        <div class="movieflix-title-container">
            <img src="/assets/img/movieflix.PNG">
        </div>
        
        <div class="first-page-header-buttons-container">
            <!-- <select class="primary-button">
                <option>Deutsch</option>
                <option>English</option> 
                <option (click)="translate.use('en');">Spanisch</option> 
            </select> -->
            
            <button routerLink="/de/login" class="primary-button">Einloggen</button>
        </div>
    </div>
    <div class="overlay center">
        <div class="registration-infos-container">
            <h1 translate>Genieße viele Filme, und mehr...</h1>
            <p translate>Schaue Movieflix, wann du magst.</p>
            <p translate>Bereit? Melde dich kostenlos an um mit dem streamen zu starten.</p>
        </div>
    </div>
</div>
