<div class="movie-preview-container">
    <div class="movie center-with-column">
        <h2>{{ firstMovieResponses['title'] }}</h2>
        <span>{{ firstMovieResponses['description'] }}</span>
        <div class="buttons-container display-flex">
            <button (click)="showMovieFullscreen()" class="play-button">Abspielen</button>
            <div (click)="showMovieInfos()" class="info-button center">
                <img src="/assets/img/icons8-ausrufezeichen-100.png">
                Weitere Infos
            </div>
            <div class="further-informations center" *ngIf="furtherInformations">
                <div class="inside-further-informations">

                    <img (click)="closeMovieInfos()" class="close-further-informations" src="/assets/img/x.png">
                    <img src="{{ firstMovieResponses.screenshot }}">
                    <div class="infos">
                        <div class="left-side">
                            <div class="date-and-time">
                                <p class="new">Neu</p>
                                <p>{{ firstMovieResponses['created_at'] }}</p>
                                <p>{{ firstMovieResponses['movie_time'] }} Std</p>
                            </div>
                            <p>{{ firstMovieResponses['title'] }}</p>
                            <span>{{ firstMovieResponses['description'] }}</span>
                        </div>
                        
                        <div class="right-side">
                            <p class="category-color">Kategorie:</p>
                            <p>{{ firstMovieResponses['category_german'] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="soundcontrol">

    </div>
    <video autoplay muted loop [src]="firstMovieResponses['movie_file']"></video>
</div>

<!-- <video autoplay muted loop [src]="firstMovieResponses['movie_file']"></video> -->
<!--*ngIf="firstMovieResponses && firstMovieResponses.length > 0"-->
<!-- <video autoplay muted loop src="http://127.0.0.1:8000/media/movie/qualle-33995.mp4"></video> -->
<!-- <video src="http://127.0.0.1:8000/media/movie/bug.mp4"></video> -->
<!-- http://127.0.0.1:8000/movieST/qualle-33995.mp4/ -->