body
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Kanit', sans-serif
    //font-family: 'Delicious Handrawn', cursive

.display-flex
    display: flex

.center
    display: flex
    justify-content: center
    align-items: center

.space-evenly
    display: flex
    justify-content: space-evenly
    align-items: center

.center-with-column
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.center-with-space-between
    display: flex
    justify-content: space-between
    align-items: center

.hide
    display: none

.hidden
    display: none

.cursor-pointer
    cursor: pointer

.mt-35
    margin-top: 35px

.ml-10
    margin-left: 10px

.show
    display: block !important
    z-index: 3 !important
    // &:hover
    //     background: blue !important

.error
    color: red
    font-size: 8px

.special-header
    height: 12vh
    width: 100vw
    background-color: black
    padding: 0 6.94% 0 6.94%
    box-sizing: border-box
    display: flex
    justify-content: space-between
    align-items: center
    img
        width: 180px
        height: 8vh

    p
        color: white
        font-size: 30px
        letter-spacing: 1px
        font-weight: 800

.special-icon
    height: 96px
    width: 96px
    object-fit: contain
    &:hover
        cursor: pointer

.z-index-4
    z-index: 4

/* Movie preview Container */

.movie-preview
    height: 37vh
    width: 25vw
    z-index: 4
    margin-top: -6vh
    margin-left: -2vw
    background-color: #141414
    border-radius: 5px
    scale: (1.2)
    .inside-movie-preview
        z-index: 5
        height: 100%
        width: 100%
        border-radius: 5px
        .view-movie
            height: 60%
            width: 100%
            video
                height: 100%
                width: 100%
                object-fit: cover
                border-top-left-radius: 5px
                border-top-right-radius: 5px

        .action-bottons
            height: 40%
            width: 100%
            .top-part
                height: 40%
                width: 100%
                .left-side
                    height: 100%
                    width: 70%
                    img
                        width: 36px
                        height: 36px
                        margin: 10px 6px 0px 6px
                    &:hover
                        cursor: pointer

                    img:first-child
                        margin-left: 16px

                .right-side
                    height: 100%
                    width: 30%
                    display: flex
                    justify-content: flex-end
                    align-items: center
                    span
                        margin-right: 16px
                        color: #45CD67
/* Button 1*/

.primary-button
    border: 1.5px solid white
    border-radius: 10px
    filter: drop-shadow(5px 5px 15px rgb(255, 255, 255))
    font-size: 16px
    line-height: 120%
    color: white
    padding: 10px 10px
    min-width: 158px
    min-height: 47px
    background-color: rgba(0,0,0, 0.1)
    &:hover
        cursor: pointer
        color: white
        transform: scale(1.05)
        // background-color: white
        // color: black

/* CSS für die Scrollbar */
.scrollbar-move::-webkit-scrollbar
    height: 0

.scrollbar-move::-webkit-scrollbar-track
    background-color: #141414

.scrollbar-move::-webkit-scrollbar-thumb
    background-color: black

/* CSS für die Scrollbar */
::-webkit-scrollbar
    width: 12px

::-webkit-scrollbar-track
    background-color: black

::-webkit-scrollbar-thumb
    background-color: #615759
    border-radius: 4px
