<div class="register-response-container center" *ngIf="guestUserRegistration">
    <div class="show-reponse" >
        <span>
            Herzlich willkommen, Sie sind Gastnutzer: {{ response.username }}. Ihre Daten zum nächsten Login finden sie
            im Konto wieder.
        </span>
    </div>
</div>

<div class="register-response-container-normaluser" *ngIf="normalUserRegistration">
    <div class="show-reponse">
        <span>
            Hallo {{ response.username }},<br>
            Ihr Account wurde erfolgreich angelegt.
            Sie erhalten in Kürze eine Email um den Account zu bestätigen.
        </span>
    </div>
</div>
