@media screen and (min-width: 320px) and (max-width: 970px) and (orientation: landscape)

    .hide-on-landscape 
        display: none !important
    
    .header
        .left
            img
                height: 16vh !important

    /*  register-successfully */
    .register-response-container
        top: calc(8% + 45px) !important
        left: 75% !important
        .show-reponse
            span
                font-size: 14px !important

    /* MyList*/
    .mylist-page
        padding: 2% 3.5% 0 5.5% !important
        .mylist-results
            .inside-mylist-results
                width: 25% !important
                img
                    min-height: 170px !important

    .inside-further-informations
        width: 90% !important
        .play-button-position
            top: 56% !important
            height: 55px !important
            width: 40px !important
        // .infos
        //     display: flex
        //     .left-side
        //         width: 65%
        //         height: 100%
        //         padding-left: 12px
        //         box-sizing: border-box
        //         .date-and-time
        //             display: flex

        //             p
        //                 color: white
        //                 margin-right: 16px

        //             .new
        //                 color: #45CD67
        //                 margin-right: 8px
        //         p
        //             color: white
        //             font-size: 24px

        //         span
        //             color: white

        //     .right-side
        //         display: flex
        //         width: 35%
        //         height: 100%

        //         .category-color
        //             color: #6b7173
        //             margin-right: 4px
        //             // margin-top: 16px

        //         p
        //             color: white
    

    /* main */ 
    .movie-preview-container   
        .movie
            bottom: 15px !important
    
    /* categories */
    .a
        .element
            height: 30vh !important

    .movie-preview
        height: 66vh !important
        margin-top: -20vh !important
        margin-left: -5vw !important
        .inside-movie-preview
            .action-bottons
                .top-part
                    .left-side
                        img
                            width: 26px !important
                            height: 26px !important
                            margin: 6px 4px 0px 4px !important


    /* Footer */
    .footer-container
        height: 70vh !important


    
