@media only screen and (max-width: 600px)
    /*  General classes for this Responsive  */

    .hide-smartphone
        display: none !important

    /* First Page */

    .first-page-container
        background-size: cover
        background-repeat: no-repeat
        background-position: center center

    .overlay
        padding: 4%
        box-sizing: border-box
        .registration-infos-container
            h1
                font-size: 36px !important

            p
                font-size: 20px !important

    /* Login Page */

    .login-page
        background-size: cover
        background-repeat: no-repeat
        background-position: center center

        .login-container
            padding: 46px 13px 48px !important
            min-width: 200px !important

    /* Register Page */

    .register-page
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        .register-container
            padding: 46px 38px 48px !important
            min-width: 200px !important
