@media only screen and (max-width: 600px)
    /*  General classes for this Responsive  */

    /* CSS für die Scrollbar */
    .scrollbar-move-responsive::-webkit-scrollbar
        height: 0

    .scrollbar-move-responsive::-webkit-scrollbar-track
        background-color: #141414

    .scrollbar-move-responsive::-webkit-scrollbar-thumb
        background-color: black

    .hide-smartphone
        display: none !important

    // .addbottom
    //     bottom: 10px

    /* First Page */

    .first-page-container
        background-size: cover
        background-repeat: no-repeat
        background-position: center center

    .overlay
        padding: 4%
        box-sizing: border-box
        .registration-infos-container
            h1
                font-size: 36px !important

            p
                font-size: 20px !important

    /* Login Page */

    .login-page
        background-size: cover
        background-repeat: no-repeat
        background-position: center center

        .login-container
            padding: 46px 13px 48px !important
            min-width: 200px !important

    /* Register Page */

    .register-page
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        .guest-account-container
            top: 0 !important
            right: 6% !important
            .guest-account-button
                font-size: 17px !important

        .register-container
            padding: 46px 38px 48px !important
            min-width: 200px !important

    /*  register-successfully */
    .register-response-container
        width: 75vw !important
        .show-reponse
            span
                font-size: 14px !important

    /* other pages */ 

    /* account-informations */

    .account-informations
        .user-login-datas
            overflow-x: scroll
            .data-container
                min-width: 150px !important
                p
                    font-size: 14px
                    word-wrap: break-word

        .first-and-last-name
            .data-container
                min-width: 150px !important
                p
                    font-size: 14px
                    word-wrap: break-word
    
    /* MyList*/
    .mylist-page
        padding: 2% 3.5% 0 5.5% !important
        .mylist-results
            .inside-mylist-results
                width: 48% !important
                img
                    min-height: 200px !important

    .mylist-empty
        .inside-mylist-empty
            min-width: 300px !important
            p
                font-size: 13px !important


    /* header-profile-settings*/
    .konto-box
        p
           font-size: 14px

    .help-box
        p
            font-size: 14px

    .logout-box
        p
            font-size: 14px

    /* /home main */

    .further-informations
        z-index: 7 !important
        .inside-further-informations
            width: 95% !important
            border: 2px solid #687282
            .close-further-informations
                position: absolute
                top: -27%
                right: 5%
                height: 32px
                width: 32px
                z-index: 8
                object-fit: contain
                &:hover
                    cursor: pointer
            img
                height: 65% !important

            .infos
                .left-side
                    p
                        font-size: 15px !important

    /* categories */

    .movie-preview
        width: 88vw !important

    .different-categories
        .a
            .element
                min-width: 60vw !important

        // .left-side-hover-container
        //     z-index: unset
        //     .arrow-left-img
        //         z-index: unset

        // .right-side-hover-container
        //     z-index: unset
        //     .arrow-right-img
        //         z-index: unset

    .movie-preview
        height: 37vh
        width: 81% !important
        z-index: 6
        left: 9% !important
        margin-top: -6vh
        margin-left: 0% !important

    /*IN DER ALLgemeinen Style */
    .inside-further-informations
        .infos
            .right-side
                p
                    font-size: 12px


    .inside-further-informations
        .play-button-position
            top: 56% !important
            height: 55px !important
            width: 40px !important
       
